In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('iris.csv')

In [3]:
df = df.sample(150)

In [5]:
df.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
122,123,7.7,2.8,6.7,2.0,Iris-virginica
54,55,6.5,2.8,4.6,1.5,Iris-versicolor
41,42,4.5,2.3,1.3,0.3,Iris-setosa
58,59,6.6,2.9,4.6,1.3,Iris-versicolor
114,115,5.8,2.8,5.1,2.4,Iris-virginica

In [7]:
from sklearn.preprocessing import LabelEncoder


encoder = LabelEncoder()

df['Species'] = encoder.fit_transform(df['Species'])

In [8]:
df.head()

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
122  123            7.7           2.8            6.7           2.0        2
54    55            6.5           2.8            4.6           1.5        1
41    42            4.5           2.3            1.3           0.3        0
58    59            6.6           2.9            4.6           1.3        1
114  115            5.8           2.8            5.1           2.4        2

In [10]:
df = df.drop('Id',axis=1)

In [11]:
df.head()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
122            7.7           2.8            6.7           2.0        2
54             6.5           2.8            4.6           1.5        1
41             4.5           2.3            1.3           0.3        0
58             6.6           2.9            4.6           1.3        1
114            5.8           2.8            5.1           2.4        2

In [14]:
df_train = df.iloc[:90,:]
df_val = df.iloc[90:120,:]
df_test = df.iloc[120:,:]

In [15]:
from sklearn.svm import SVC

def model():
     df_bag = df_train.sample(40,replace=True)
     x_train  = df_bag.iloc[:,:-1].values
     y_train = df_bag.iloc[:,-1].values
     svm = SVC()
     svm.fit(x_train,y_train)
     return svm

In [17]:
m1 = model()
m2 = model()
m3 = model()

In [19]:
x_test = df_val.iloc[:,:-1].values
y_test = df_val.iloc[:,-1].values

m1_pred = m1.predict(x_test)
m2_pred = m2.predict(x_test)
m3_pred = m3.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score

score1 = accuracy_score(